folium==0.19.5
geopy==2.4.0
matplotlib==3.5.2
networkx==2.8.4
numba==0.55.1
numpy==1.21.5
nvidia_ml_py==12.535.133
pandas==1.4.4
psutil==5.9.0
pynvml==11.5.0
pytz==2022.1
scikit_learn==1.0.2
scipy==1.9.1
torch==1.13.0
torch_geometric==2.6.1
torch_scatter==2.1.2
torch_sparse==0.6.18
tqdm==4.64.1
